body {
 font-family: "lato";
    }
  
 a, a:hover, a:focus { 
    text-decoration: none!important; 
   } 
 

.round_font {
  font-family: "rounds"!important;
  }


/* header */
#header {
  margin-bottom: 0;
}

#header .nav.menu {
  padding-top: 50px;
  color: #333232;
}

#header .nav li a {
  color: #333232;
  font-weight: bold;
}
#header .nav > li > a:focus,
#header .nav > li > a:hover {
  background-color: transparent;
  color: #056527;
}

#header .btn.order-call {
  width: 100%;
  background-color: #056527;
  color: #fff;
}

#header .btn.order-call:hover,
.btn-green:hover {
  background-color: #11a646;
}

#header .navbar-brand {
  height: 100%;
  margin-right: 135px;

}

#header .navbar-brand img {
  height: 100%;
}

#header .navbar-toggle .icon-bar {
  background-color: #056527;
}

.phone img {
    width: 23px;
    margin-bottom: 6px;
}

/* main section */
#main {
   height: 76vh;
  background-image: url(images/banner.png);
  background-size: cover;
  margin-bottom: 25px;
}

#main .title {
  font-size: 4.5rem;
  padding: 25px 0px;
}
.timer-container {
  background-image: url(images/novyy-god-yolka-girlyandy-raznocvetnye.png);
  background-repeat: no-repeat;
  height: 450px;
  background-size: 100% 100%;
}

.timer-container {
  padding-top: 50px;
  width: 660px;
}

.sales_block {
  text-align: center;
}
  
.sales_logo {
        position: absolute;
        margin-top: -25px;
        margin-left: 30px;
    }

    .sales_arrow {
        position: absolute;
        margin-top: 75px;
        margin-left: 70px;  
    }

.green_text {
  color: rgb(77, 153, 3);
  text-transform: uppercase;
}

.salesText span {
  line-height: 40px;
  text-align: center;
  align-items: center;
  font-family: "lato";
}

.salesText_1 span {
  font-size: 21px;
  font-weight: 800;
}

.salesText_2 {
  font-size: 21px;
  font-weight: 800;
}

.salesText_3 {
  font-size: 13px;
  font-weight: 400;
}

.salesText_4 {
  font-size: 18px;
  font-weight: 800;
}

.salesText_5 {
  font-size: 24px;
  font-weight: 600;
  font-style: italic;
}

#better {
  padding: 50px 0;
  position: relative;
}

.better-item-group {
  padding: 0 150px;
}

@media (max-width: 1199.98px) {
  .better-bg {
    display: none;
  }
}

@media (min-width: 1200px) {
  .better-bg {
    position: absolute;
    top: 0;
    z-index: -1000;
    height: 100%;
  }
  .better-bg.left {
    left: 0;
  }
  .better-bg.right {
    right: 0;
  }
}

#better .item {
  padding: 0 15px;
}
#better .item p {
  margin-top: 15px;
}
/* TODO LEFT AND RIGHT CHRISTMAS TREE*/
/*#better:before {*/
/*content: '';*/
/*position: absolute;*/
/*width: 100%;*/
/*max-width: 25%;*/
/*display: block;*/
/*height: 100%;*/
/*background-image: url(images/better/left.png);*/
/*background-repeat: no-repeat;*/
/*background-size: contain;*/
/*left: 0;*/
/*}*/
/*#better:after {*/
/*content: '';*/
/*position: absolute;*/
/*width: 100%;*/
/*right: 0;*/
/*max-width: 25%;*/
/*display: block;*/
/*height: 100%;*/
/*background-image: url(images/better/right.png);*/
/*background-repeat: no-repeat;*/
/*background-size: contain;*/
/*}

    #catalog h1.title {
        color: #dcb86c;
        font-weight: 900;
        text-align: center;
        padding: 15px 0;
    }

    #catalog .tree-first {
        background-color: #056527;
        color: #fff;
        margin: 15px 0;
    }
    #catalog .tree-first .title-container {
        padding: 20px 0;
        border-bottom: 1px solid white;
    }

    #catalog .tree-first .title-container p {
        font-weight: 600;
    }

    #catalog .tree-first .selections {
        padding: 15px 0;
        font-weight: 600;
    }

    #catalog .tree-first .selections s {
        color: #c9c7c7;
    }
    #catalog .tree-first .selections .price {
        padding-left: 15px;
        padding-top: 10px;
    }
    #catalog .tree-first .btn.btn-orange {
        background: #ff6a1c;
        margin: 15px 0;
        width: 50%;
    }
    #catalog .tree-first .btn.btn-orange:hover {
        color: #fff;
    }
    */

/* more section */

.more {
  padding: 20px 0;
  background-image: url(images/more_banner.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: #fff;
}
.more input {
  background: transparent;
}

.more-title {
  padding-right: 50px;
  text-align: center;
}

.more-form-title {
  font-size: 20px;
  padding: 30px 0;
}

/* order */
#order img {
  max-height: 100px;
}

#order span.glyphicon {
  font-size: 16px;
  float: right;
}

.order-image {
  height: 60px;
}

.order-item {
  padding-top: 30px;
  position: relative;
}
.order-item--header {
  font-weight: 900;
  font-size: 20px;
}

.order-item--text {
  padding-top: 20px;
  font-size: 14px;
}

.order-item--number {
  z-index: -1000;
  position: absolute;
  top: 65px;
  left: 30px;
  font-weight: 700;
  font-size: 120px;
  color: rgba(0, 0, 0, 0.05);
}

/* paid */
#paid {
  padding: 20px 0;
  background-image: url(images/paid/logo_big.png);
  background-repeat: no-repeat;
  background-size: contain;
  margin-bottom: 60px;
}

#paid p {
  margin: 15px 0;
}

.delivery-logos {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

/* DISCOUNT SECTION */
.discount {
  background-image: url(images/discount/bg.png);
  background-size: cover;
  height: 500px;
  position: relative;
}

.discount-title {
  font-size: 40px;
  color: white;
  text-align: center;
  padding-top: 100px;
}

.discount-container {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateX(-50%);
  width: 600px;
}

/* REVIEWS SECTION */
#reviews {
  padding-top: 120px;
  padding-bottom: 100px;
}

/* CERTIFICATES SECTION */
#certificates {
  padding: 100px 0;
  position: relative;
}

.wave.latest {
  background-image: url(images/reviews/ligths.png);
  height: 130px;
}

/* FOOTER SECTION */
#footer {
  height: 100vh;
  background-image: url(images/santa.png);
	background-size: cover;
	height: 1200px;
}

.footer-help {
  padding-top: 100px;
  padding-right: 25vw;
  text-align: right;
}

.footer-help--title {
  font-weight: 700;
  font-size: 45px;
}

.footer-help--subtitle {
  font-weight: 400;
  font-size: 23px;
}

.footer-help--number {
  padding-top: 50px;
  font-weight: 400;
  font-size: 23px;
}

.contact-form {
  background-color: white;
  margin-left: 20%;
  margin-top: 118px;
  padding: 30px;
  display: inline-block;
	border-radius: 10px;
	box-shadow: 0 0 20px rgba(0,0,0,0.5);
  width: 432px;
  height: 350px;
  padding-top: 43px;

}

.contact-form--title {
  font-weight: 900;
  font-size: 17px;
  text-align: center;
  margin-bottom: 42px;
}

.contact-form--input {
	display: block;
	padding: 10px;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 10px;
	width: 100%;
	margin-bottom: 17px;
}

.contact-form--submit {
	background-color: black;
	border: none;
	border-radius: 10px;
	padding: 10px 50px;
	color: white;
	display: block;
	margin: 0 auto;
}

.contact-form--submit :hover {
  background-color: #424141;
  }

.footer-info {
	margin-top: 400px;
	padding: 100px 300px 0 300px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
}

.footer-copyright {
	font-weight: 900;
	font-size: 8px;
	color: rgba(255, 255, 255, 0.7);
}

.footer-text {
	font-weight: 900;
	font-size: 16px;
}

.to-catalog {
	color: red;
}

/* global */
.btn-green {
  background-color: #056527;
  color: #fff;
}
.btn-green:hover {
  color: #fff;
}
h1.title-yellow {
  color: #dcb86c;
  font-weight: 900;
  text-align: center;
  padding: 15px 0;
  text-transform: uppercase;
  font-family: "rounds";

}

.wave {
  position: absolute;
  top: -60px;
  height: 80px;
  width: 100%;
  background-image: url(images/volna.png);
  background-size: 100% 100%;
  border-top: 0;
}

.advantages-list {
  height: 700px;
  position: relative;
}

.advantages-tree {
  height: 500px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -45%);
}

.advantages-list-item {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 200px;
}

.advantages-list-item--icon {
  width: 80px;
}

.advantages-list-item--heading {
  font-family: Lato;
  font-weight: 900;
  text-align: center;
}

.advantages-list-item--text {
  font-family: Lato;
  font-size: 13px;
  text-align: center;
}

@media (max-width: 1199.98px) {
  .advantages-arrow-1,
  .advantages-arrow-2,
  .advantages-arrow-3,
  .advantages-arrow-4,
  .advantages-arrow-5,
  .advantages-arrow-6,
  .advantages-tree {
    display: none;
  }
  .advantages-safety {
    left: 15vw;
    top: 100px;
  }

  .advantages-speed {
    left: 15vw;
    top: 275px;
  }

  .advantages-realism {
    left: 15vw;
    top: 450px;
  }

  .advantages-ukraine {
    right: 15vw;
    top: 100px;
  }

  .advantages-no-smells {
    right: 15vw;
    top: 275px;
  }

  .advantages-10-years {
    right: 15vw;
    top: 450px;
  }
}
@media (min-width: 1200px) {
  .advantages-arrow-1 {
    position: absolute;
    left: 400px;
    top: 150px;
    width: 150px;
  }
  .advantages-arrow-2 {
    position: absolute;
    left: 250px;
    top: 310px;
    width: 250px;
  }
  .advantages-arrow-3 {
    position: absolute;
    left: 380px;
    top: 300px;
    width: 150px;
  }
  .advantages-arrow-4 {
    position: absolute;
    right: 400px;
    top: 150px;
    width: 150px;
    transform: rotate(90deg);
  }
  .advantages-arrow-5 {
    position: absolute;
    right: 250px;
    top: 310px;
    width: 250px;
    transform: rotate(180deg);
  }
  .advantages-arrow-6 {
    position: absolute;
    right: 380px;
    top: 300px;
    width: 150px;
    transform: rotate(270deg);
  }
  .advantages-safety {
    left: 250px;
    top: 100px;
  }

  .advantages-speed {
    left: 100px;
    top: 275px;
  }

  .advantages-realism {
    left: 250px;
    top: 450px;
  }

  .advantages-ukraine {
    right: 250px;
    top: 100px;
  }

  .advantages-no-smells {
    right: 100px;
    top: 275px;
  }

  .advantages-10-years {
    right: 250px;
    top: 450px;
  }
}

@font-face {
  font-weight: 400;
  font-family: "Rounds Black";
  src: url("../fonts/Rounds.ttf");
}

@font-face {
  font-weight: 700;
  font-family: "Lato Bold";
  src: url("../fonts/LatoBold.ttf");
}

@font-face {
  font-weight: 500;
  font-family: "Lato Medium";
  src: url("../fonts/Lato-Medium.ttf");
}

@font-face {
  font-weight: 700;
  font-family: "Roboto Bold";
  src: url("../fonts/Roboto-Bold.ttf");
}

@font-face {
  font-weight: 900;
  font-family: "Lato Black";
  src: url("../fonts/Lato-Black.ttf");
}

/* catalog */

.catalog {
  background-image: url("../img/santa.jpg");
  background-repeat: no-repeat;
  background-size: 746px 770px;
  background-position: 100% 86%;
}

.catalog__wrapper {
  width: 1170px;
  margin: 0 auto;
}

.catalog__title {
  margin: 0;
  text-align: center;
  font-family: "Rounds Black", "Arial", sans-serif;
  font-size: 60px;
  color: #dcb86c;
}

.catalog__list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 80px;
  padding: 0;
  list-style: none;
}

.catalog__item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 371px;
  min-height: 645px;
  margin-right: 28px;
  margin-bottom: 71px;
  padding-bottom: 20px;
  box-sizing: border-box;
  background-color: #fff;
  box-shadow: 0px 10px 40px 0px rgba(10, 10, 10, 0.28);
}

.catalog__item:nth-child(3n + 3) {
  margin-right: 0;
}

.catalog__item--hit {
  position: relative;
}

.catalog__item--hit::before {
  content: "";
  position: absolute;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 128px 128px 0 0;
  border-color: #4e9903 transparent transparent transparent;
}

.catalog__item--hit::after {
  content: "Хіт продаж";
  position: absolute;
  top: 15px;
  left: 15px;
  width: 55px;
  text-align: center;
  font-family: "Lato Bold", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
}

.catalog__image {
  margin-top: 13px;
}

.catalog__description {
  width: 221px;
  margin: 0 auto;
  text-align: center;
}

.catalog__description-title {
  margin: 0;
  margin-top: 15px;
  text-align: center;
  font-weight: 700;
  font-family: "Lato Bold", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
}

.catalog__tre-size {
  margin: 0;
  margin-top: 8px;
  font-family: "Lato Medium", "Arial", sans-serif;
  font-size: 14px;
}

.catalog__discount {
  display: block;
  margin-top: 8px;
  margin-left: 55px;
  text-align: left;
  font-family: "Roboto Bold", "Arial", sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: #ff5c17;
}

.catalog__old-price {
  display: block;
  margin-left: 22px;
  text-align: left;
  font-weight: 700;
  font-family: "Lato Bold", "Arial", sans-serif;
  font-size: 14px;
  text-decoration: line-through;
  color: #666666;
}

.catalog__price {
  display: block;
  font-family: "Lato Black", "Arial", sans-serif;
  font-size: 30px;
  color: #4d9903;
}

.catalog__button {
  display: block;
  width: 220px;
  margin-top: 20px;
  padding: 5px 4px;
  box-sizing: border-box;
  font-family: "Lato Bold", "Arial", sans-serif;
  font-size: 18px;
  line-height: 31px;
  color: #ffffff;
  background-color: #ff6a1c;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.catalog__button:hover {
  background-color: #fb5402;
}

.catalog__present {
  position: absolute;
  top: 11px;
  right: 13px;
  width: 120px;
  text-align: center;
  background-image: url("../img/deliveryarrow.png");
  background-repeat: no-repeat;
  background-repeat: no-repeat;
  background-position: 86px 30px;
}

.catalog__present i {
  display: block;
  margin-top: 15px;
  font-family: "Lato Medium", "Arial", sans-serif;
  font-size: 14px;
}

.catalog__order {
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  padding-top: 20px;
  font-family: "Lato Bold", "Arial", sans-serif;
  font-size: 18px;
  background-color: #056527;
  transition: 0.5s;
}

.catalog__item:hover .catalog__order {
  opacity: 1;
}

.catalog__order-wrapper {
  width: 318px;
  margin: 0 auto;
  padding-bottom: 27px;
  color: #ffffff;
}

.catalog__description-title--order,
.catalog__tree-size--order {
  text-align: center;
}

.catalog__description-title--order {
  font-size: 20px;
}

.catalog__tree-size--order {
  padding-bottom: 25px;
  border-bottom: 2px solid #ffffff;
}

.catalog__order-tree-cost {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 60px;
}

.catalog__order-tree-size {
  width: 135px;
}

.catalog__order-tree-size select {
  width: 100%;
  margin-top: 25px;
  padding: 16px 10px;
  box-sizing: border-box;
  font-family: "Lato Medium", "Arial", sans-serif;
  font-size: 14px;
  color: #000;
  border-radius: 8px;
}

.catalog__order-price {
  width: 96px;
}

.catalog__old-price--order {
  display: block;
  margin-left: 0;
  font-size: 18px;
  color: #c9c7c7;
}

.catalog__price--order {
  margin-top: 5px;
  text-align: right;
  font-size: 24px;
  color: #ffffff;
}

.catalog__order-image {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.catalog__order-prewiew {
  position: relative;
}

.catalog__order-prewiew img {
  display: block;
}

.catalog__order-prewiew button {
  position: absolute;
  top: 43px;
  left: 47px;
  padding: 0;
  background-color: transparent;
  border: none;
}

.catalog__button--order {
  text-align: center;
  margin: 0 auto;
  margin-top: 65px;
}

.catalog__present--order {
  position: static;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 150px;
  margin: 0 auto;
  margin-top: 47px;
  background-image: none;
}

.catalog__present--order i {
  width: 78px;
  margin-top: 0;
}

.catalog__jewelry-title {
  font-family: "Lato Bold", "Arial", sans-serif;
  font-size: 50px;
  line-height: 60px;
  color: #dcb86c;
}

.catalog__jewelry-title {
  margin: 0;
}

.catalog__jewelry-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 80px;
  padding: 0;
  list-style: none;
}

.catalog__jewelry-item {
  width: 270px;
  padding-bottom: 22px;
  background-color: rgb(242, 252, 241);
  box-shadow: 0px 10px 40px 0px rgba(10, 10, 10, 0.28);
}

.catalog__image--jewelry {
  margin-top: 36px;
}

.catalog__jewelry-item--4 {
  background-image: linear-gradient(to bottom,#fbf9fa, #f1eef0);
}

@media (max-width: 1200px) {
  .catalog {
    background-position: 100% 91.8%;
  }

  .catalog__title {
    font-size: 50px;
  }

  .catalog__wrapper {
    width: 780px;
  }

  .catalog__list {
    justify-content: space-between;
  }

  .catalog__item {
    margin-right: 0;
  }

  .catalog__jewelry-title {
    font-size: 46px;
  }

  .catalog__jewelry-list {
    justify-content: flex-start;
  }

  .catalog__jewelry-item {
    margin-right: 28px;
    margin-bottom: 50px;
  }
}

@media (max-width: 820px) {
  .catalog {
    background-image: none;
  }

  .catalog__wrapper {
    width: 560px;
  }

  .catalog__title {
    text-align: left;
    font-size: 40px;
  }

  .catalog__list {
    margin-top: 60px;
  }

  .catalog__jewelry-title {
    font-size: 33px;
  }

  .catalog__jewelry-list {
    margin-top: 60px;
  }
}

@media (max-width: 600px) {
  .catalog__wrapper {
    width: 300px;
  }

  .catalog__title {
    font-size: 31px;
  }

  .catalog__list {
    margin-top: 40px;
  }

  .catalog__item {
    width: 300px;
  }

  .catalog__order-wrapper {
    width: 280px;
  }

  .catalog__jewelry-title {
    font-size: 17px;
  }

  .catalog__jewelry-list {
    justify-content: center;
    margin-top: 30px;
  }

  .catalog__jewelry-item {
    margin-right: 0;
  }
}

.mail_block {

}
