body {
  font-family: Lato;
}

/* header */
#header {
  margin-bottom: 0;
}

#header .nav.menu {
  padding-top: 50px;
}

#header .nav li a {
  color: #000000;
  font-weight: bold;
}
#header .nav > li > a:focus,
#header .nav > li > a:hover {
  background-color: transparent;
  color: #056527;
}

#header .btn.order-call {
  width: 100%;
  background-color: #056527;
  color: #fff;
}

#header .navbar-brand {
  height: 100%;
}

#header .navbar-brand img {
  height: 100%;
}

#header .navbar-toggle .icon-bar {
  background-color: #056527;
}

/* main section */
#main {
  /* height: 500px; */
  background-image: url(images/banner.png);
  background-size: cover;
  margin-bottom: 25px;
}

#main .title {
  font-size: 4.5rem;
  padding: 25px 0px;
}
.timer-container {
  background-image: url(images/novyy-god-yolka-girlyandy-raznocvetnye.png);
  background-repeat: no-repeat;
  height: 400px;
  background-size: 100% 100%;
}

.timer-container {
  padding-top: 50px;
}

.sales_block {
  text-align: center;
}

.green_text {
  color: rgb(77, 153, 3);
  text-transform: uppercase;
}

.salesText span {
  line-height: 40px;
  text-align: center;
  align-items: center;
  font-family: "lato";
}

.salesText_1 span {
  font-size: 21px;
  font-weight: 800;
}

.salesText_2 {
  font-size: 21px;
  font-weight: 800;
}

.salesText_3 {
  font-size: 13px;
  font-weight: 400;
}

.salesText_4 {
  font-size: 18px;
  font-weight: 800;
}

.salesText_5 {
  font-size: 24px;
  font-weight: 600;
  font-style: italic;
}

#better {
  padding: 50px 0;
  position: relative;
}

.better-item-group {
  padding: 0 150px;
}

@media (max-width: 1199.98px) {
  .better-bg {
    display: none;
  }
}

@media (min-width: 1200px) {
  .better-bg {
    position: absolute;
    top: 0;
    z-index: -1000;
    height: 100%;
  }
  .better-bg.left {
    left: 0;
  }
  .better-bg.right {
    right: 0;
  }
}

#better .item {
  padding: 0 15px;
}
#better .item p {
  margin-top: 15px;
}
/* TODO LEFT AND RIGHT CHRISTMAS TREE*/
/*#better:before {*/
/*content: '';*/
/*position: absolute;*/
/*width: 100%;*/
/*max-width: 25%;*/
/*display: block;*/
/*height: 100%;*/
/*background-image: url(images/better/left.png);*/
/*background-repeat: no-repeat;*/
/*background-size: contain;*/
/*left: 0;*/
/*}*/
/*#better:after {*/
/*content: '';*/
/*position: absolute;*/
/*width: 100%;*/
/*right: 0;*/
/*max-width: 25%;*/
/*display: block;*/
/*height: 100%;*/
/*background-image: url(images/better/right.png);*/
/*background-repeat: no-repeat;*/
/*background-size: contain;*/
/*}

    #catalog h1.title {
        color: #dcb86c;
        font-weight: 900;
        text-align: center;
        padding: 15px 0;
    }

    #catalog .tree-first {
        background-color: #056527;
        color: #fff;
        margin: 15px 0;
    }
    #catalog .tree-first .title-container {
        padding: 20px 0;
        border-bottom: 1px solid white;
    }

    #catalog .tree-first .title-container p {
        font-weight: 600;
    }

    #catalog .tree-first .selections {
        padding: 15px 0;
        font-weight: 600;
    }

    #catalog .tree-first .selections s {
        color: #c9c7c7;
    }
    #catalog .tree-first .selections .price {
        padding-left: 15px;
        padding-top: 10px;
    }
    #catalog .tree-first .btn.btn-orange {
        background: #ff6a1c;
        margin: 15px 0;
        width: 50%;
    }
    #catalog .tree-first .btn.btn-orange:hover {
        color: #fff;
    }
    */

/* more section */

.more {
  padding: 20px 0;
  background-image: url(images/more_banner.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: #fff;
}
.more input {
  background: transparent;
}

.more-title {
  padding-right: 50px;
  text-align: center;
}

.more-form-title {
  font-size: 20px;
  padding: 30px 0;
}

/* order */
#order img {
  max-height: 100px;
}

#order span.glyphicon {
  font-size: 16px;
  float: right;
}

.order-image {
  height: 60px;
}

.order-item {
  padding-top: 30px;
  position: relative;
}
.order-item--header {
  font-weight: 900;
  font-size: 20px;
}

.order-item--text {
  padding-top: 20px;
  font-size: 14px;
}

.order-item--number {
  z-index: -1000;
  position: absolute;
  top: 65px;
  left: 30px;
  font-weight: 700;
  font-size: 120px;
  color: rgba(0, 0, 0, 0.05);
}

/* paid */
#paid {
  padding: 20px 0;
  background-image: url(images/paid/logo_big.png);
  background-repeat: no-repeat;
  background-size: contain;
  margin-bottom: 60px;
}

#paid p {
  margin: 15px 0;
}

.delivery-logos {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

/* DISCOUNT SECTION */
.discount {
  background-image: url(images/discount/bg.png);
  background-size: cover;
  height: 500px;
  position: relative;
}

.discount-title {
  font-size: 40px;
  color: white;
  text-align: center;
  padding-top: 100px;
}

.discount-container {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateX(-50%);
  width: 600px;
}

/* REVIEWS SECTION */
#reviews {
  padding-top: 120px;
  padding-bottom: 100px;
}

/* CERTIFICATES SECTION */
#certificates {
  padding: 100px 0;
  position: relative;
}

.wave.latest {
  background-image: url(images/reviews/ligths.png);
  height: 130px;
}

/* FOOTER SECTION */
#footer {
  height: 100vh;
  background-image: url(images/santa.png);
	background-size: cover;
	height: 1200px;
}

.footer-help {
  padding-top: 100px;
  padding-right: 25vw;
  text-align: right;
}

.footer-help--title {
  font-weight: 700;
  font-size: 45px;
}

.footer-help--subtitle {
  font-weight: 400;
  font-size: 23px;
}

.footer-help--number {
  padding-top: 50px;
  font-weight: 400;
  font-size: 23px;
}

.contact-form {
  background-color: white;
  margin-left: 20%;
  margin-top: 30px;
  padding: 30px;
  display: inline-block;
	border-radius: 10px;
	box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

.contact-form--title {
  font-weight: 900;
  font-size: 17px;
  text-align: center;
}

.contact-form--input {
	display: block;
	padding: 10px;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 10px;
	width: 100%;
	margin-bottom: 17px;
}

.contact-form--submit {
	background-color: black;
	border: none;
	border-radius: 10px;
	padding: 10px 50px;
	color: white;
	display: block;
	margin: 0 auto;
}

.footer-info {
	margin-top: 400px;
	padding: 100px 300px 0 300px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
}

.footer-copyright {
	font-weight: 900;
	font-size: 8px;
	color: rgba(255, 255, 255, 0.7);
}

.footer-text {
	font-weight: 900;
	font-size: 16px;
}

.to-catalog {
	color: red;
}

/* global */
.btn-green {
  background-color: #056527;
  color: #fff;
}
.btn-green:hover {
  color: #fff;
}
h1.title-yellow {
  color: #dcb86c;
  font-weight: 900;
  text-align: center;
  padding: 15px 0;
  text-transform: uppercase;
}

.wave {
  position: absolute;
  top: -60px;
  height: 80px;
  width: 100%;
  background-image: url(images/volna.png);
  background-size: 100% 100%;
  border-top: 0;
}

.advantages-list {
  height: 700px;
  position: relative;
}

.advantages-tree {
  height: 500px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -45%);
}

.advantages-list-item {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 200px;
}

.advantages-list-item--icon {
  width: 80px;
}

.advantages-list-item--heading {
  font-family: Lato;
  font-weight: 900;
  text-align: center;
}

.advantages-list-item--text {
  font-family: Lato;
  font-size: 13px;
  text-align: center;
}

@media (max-width: 1199.98px) {
  .advantages-arrow-1,
  .advantages-arrow-2,
  .advantages-arrow-3,
  .advantages-arrow-4,
  .advantages-arrow-5,
  .advantages-arrow-6,
  .advantages-tree {
    display: none;
  }
  .advantages-safety {
    left: 15vw;
    top: 100px;
  }

  .advantages-speed {
    left: 15vw;
    top: 275px;
  }

  .advantages-realism {
    left: 15vw;
    top: 450px;
  }

  .advantages-ukraine {
    right: 15vw;
    top: 100px;
  }

  .advantages-no-smells {
    right: 15vw;
    top: 275px;
  }

  .advantages-10-years {
    right: 15vw;
    top: 450px;
  }
}
@media (min-width: 1200px) {
  .advantages-arrow-1 {
    position: absolute;
    left: 400px;
    top: 150px;
    width: 150px;
  }
  .advantages-arrow-2 {
    position: absolute;
    left: 250px;
    top: 310px;
    width: 250px;
  }
  .advantages-arrow-3 {
    position: absolute;
    left: 380px;
    top: 300px;
    width: 150px;
  }
  .advantages-arrow-4 {
    position: absolute;
    right: 400px;
    top: 150px;
    width: 150px;
    transform: rotate(90deg);
  }
  .advantages-arrow-5 {
    position: absolute;
    right: 250px;
    top: 310px;
    width: 250px;
    transform: rotate(180deg);
  }
  .advantages-arrow-6 {
    position: absolute;
    right: 380px;
    top: 300px;
    width: 150px;
    transform: rotate(270deg);
  }
  .advantages-safety {
    left: 250px;
    top: 100px;
  }

  .advantages-speed {
    left: 100px;
    top: 275px;
  }

  .advantages-realism {
    left: 250px;
    top: 450px;
  }

  .advantages-ukraine {
    right: 250px;
    top: 100px;
  }

  .advantages-no-smells {
    right: 100px;
    top: 275px;
  }

  .advantages-10-years {
    right: 250px;
    top: 450px;
  }
}
